* {
  box-sizing: border-box;
}

body {
  font-family: Simonetta, "Patua One", Courier, "Courier New";;
  font-weight: 600;
}

#nav {
  background-color: #888;
  height: 125px;
}

.menu-item:nth-child(1) {
  margin-left: 100px;
}

.menu-item {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  height: 100px;
  line-height: 100px;
  width: 150px;
  color: #fff;
  background-color: #585858;
  text-align: center;
  font-size: 22px;
}

.menu-item:before {
  content: "Nav Item";
}

#blog-container {
  position: absolute;
  top: 126px;
  background-color: red;
  height: 1000px;
  width: 1122px;
}

#grabber-top {
  position: absolute;
  top: 40px;
  left: 390px;
  width: 345px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border: 1px solid black;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 26px;
}

#grabber-top:before {
  content: "Look Here Look Here";
}

#grabber-bottom {
  position: absolute;
  top: 90px;
  left: 490px;
  width: 145px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border: 1px solid black;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 26px;
}

#grabber-bottom:before {
  content: "Look Here";
}

div[class$="-blog"] {
  background-color: #787878;
  height: 730px;
  float: left;
  width: 50%;
  border: 1px solid black;
}

.author,
.blog-title,
.comment-link,
.other-links {
  background-color: #585858;
  margin-left: 40px;
}

.author {
  position: relative;
  top: 200px;
  width: 300px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.author:before {
  content: "Author McAuthor";
}

.blog-title {
  position: relative;
  top: 225px;
  width: 400px;
  height: 200px;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}

.blog-title:before {
  content: "The Main Title: This is a subtitle for the title";
}

.comment-link {
  position: relative;
  top: 250px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.comment-link:before {
  content: "comments";
}

.other-links {
  position: relative;
  top: 275px;
  width: 400px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.other-links:before {
  content: "This is where links would go";
}

.bottom-blog .author {
  top: 75px;
}

.bottom-blog .blog-title {
  top: 100px;
}

.bottom-blog .comment-link {
  top: 125px;
}

.bottom-blog .other-links {
  top: 150px;
